trigger:
- main

pool:
  name: Default

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: "Install Node"

- script: |
    npm install
  displayName: "Install dependencies"

- script: |
    npm test
  displayName: "Start server"
